/*////////////////////////////////////////////////////// Responsive CSS Structure //////////////////////////////////////////////////////*/

@media(min-width:1400px){
      .container{
            max-width: 1190px;
      }
}


@media (min-width: 1300px) and (max-width: 1399px) {
      .container{
            max-width: 1190px;
      }
      
}

@media (min-width: 1200px) and (max-width: 1299px) {

      /* ==========> trading-main-section <========== */
      .trading-main-wrap .row{margin: 0 -20px;}
      .trading-main-wrap .row>*{padding: 0 20px;}
      /* ==========> trading-main-section <========== */
}

@media (min-width: 992px) and (max-width: 1199px) {

      .section-title{font-size: 32px;}
      .main-title{font-size: 48px;}
      
      /* ==========> content-wrapper <========== */
      .content-wrapper { padding: 154px 0 60px; }
      .trading-main-section { padding-top: 50px; }
      .trading-main-wrap .trading-main-block{margin-bottom: 80px;}
      /* ==========> content-wrapper <========== */

      /* ==========> brands-main-section <========== */
      .brands-main-section{padding: 60px 0;}
      /* ==========> brands-main-section <========== */

      /*================ Aboutus ==================*/
      .our-history-main { padding: 180px 0 80px; }
      /*================ Aboutus ==================*/

      /*================ executive-team ==================*/
      .team-details .row>*{ padding: 0 15px; }
      .team-details .row{ margin: 0 -15px; }
      /*================ executive-team ==================*/

      /* ==========> trading-main-section <========== */
      .trading-main-wrap .row{margin: 0 -20px;}
      .trading-main-wrap .row>*{padding: 0 20px;}
      /* ==========> trading-main-section <========== */
}

@media(min-width:992px){

      
}

@media(max-width:991px){

  
      /* header */
      html.nav-menu-open .header { z-index: 999; }
      html.nav-menu-open .navbar .navbar-brand { position: relative; z-index: 9999; }
      html.nav-menu-open .navbar .navbar-toggler { z-index: 9999; }
      .navbar-nav .nav-item { margin: 0 !important; padding: 0; border-bottom: 1px solid #c3ced7 }
      .navbar-nav .nav-item .nav-link{color: #3e3d3d;}
      .navbar{padding: 10px 0px 10px;}
      /* .navbar-nav .nav-item:last-child { border: none; } */
      .navbar .navbar-collapse { display: block; position: fixed; right: -100%; top: 0; bottom: 0; height: 100%; z-index: 999; width: 100%; overflow: auto; background: #ffffff; padding: 100px 20px 30px; transition: 0.5s; -webkit-transition: 0.5s; -moz-transition: 0.5s; -ms-transition: 0.5s; -o-transition: 0.5s; }
      .navbar .navbar-collapse.show { right: 0; background-image: url('../images/menu-bg.jpg'); background-size: cover;}
     
      .header .btn.btn-white span{  color: #fff; background: #1c7857;}
      .header .btn.btn-white {color: #1c7857;}
      .h-content  .btn-contain{margin-top: 20px;}
  
      .navbar-brand{width: 92px;}

      .navbar .btn-search{margin-left: 0px;}
      .navbar-nav .nav-item .nav-link { display: flex; align-items: center; justify-content: space-between; padding: 10px 0 !important; }
      /* header */

      /*================ executive-team ==================*/
      .team-details .row>*{ padding: 0 15px; }
      .team-details .row{ margin: 0 -15px; }
      /*================ executive-team ==================*/

      /* ==========> trading-main-section <========== */
      .trading-main-wrap .row{margin: 0 -20px;}
      .trading-main-wrap .row>*{padding: 0 20px;}
      /* ==========> trading-main-section <========== */
}

@media (min-width: 768px) and (max-width: 991px) {

      .section-title{font-size: 28px;}
      .main-title{font-size: 42px;}
      /* ==========> content-wrapper <========== */
      .content-wrapper { padding: 114px 0 40px; }
      .trading-main-section { padding-top: 30px; }
      .trading-main-wrap .trading-main-block { margin-bottom: 70px; }
      .trading-main-img-block .large-img { height: 247px; }
      .trading-main-img-block .small-img { height: 138px; }
      .banner-details .pointer-arrow { margin: 20px 0; }
      /* ==========> content-wrapper <========== */

      /*================ Aboutus ==================*/
      .our-history-main { padding: 180px 0 50px; }
      /*================ Aboutus ==================*/

      /* ==========> brands-main-section <========== */
      .brands-main-section{padding: 40px 0;}
      .brands-main-wrap>*{flex: 0 0 auto; width: 33.33%;}
      .brands-main-wrap{row-gap: 20px;}
      /* ==========> brands-main-section <========== */

      /* ==========> footer <========== */
      .quick-link-block .f-title{font-size: 18px;}
      .quick-link ul li{font-size: 12px;}
      .f-logo{width: 94px;}
      .f-bootom{flex-direction: column; row-gap: 20px;}
      .footer .f-contet{padding: 50px 0;}
      /* ==========> footer <========== */
}

@media (max-width: 767px) {
      
      .section-title{font-size: 24px;}
      .main-title{font-size: 36px; letter-spacing: -1.2px;}
      /* ==========> content-wrapper <========== */
      .content-wrapper { padding: 140px 0 20px; }
      .trading-main-img-block{justify-content: center;}
      .banner-details .main-title { margin-bottom: 20px; }
      .trading-main-wrap .row{margin: 0 -15px;}
      .banner-details .pointer-arrow{margin: 0;}
      .banner-details .pointer-arrow svg{height: 120px;}
      .trading-main-section { padding-top: 50px; }
      .trading-main-wrap .trading-main-block { margin-bottom: 30px; }
      .trading-main-img-block .large-img { height: 227px; }
      .trading-main-img-block .small-img { height: 138px; }
      .trading-main-wrap .row>* { padding: 0 15px; }
      /* ==========> content-wrapper <========== */

       /* ==========> brands-main-section <========== */
       .brands-main-section{padding: 35px 0;}
       .brands-main-wrap>*{flex: 0 0 auto; width: 33.33%;}
       .brands-main-wrap{row-gap: 20px;}
       /* ==========> brands-main-section <========== */
      
       /*================ Aboutus ==================*/
       .who-we-are-main { padding: 140px 0 80px; }
       .who-we-are-main .who-we-are-details{margin-bottom: 40px;}
       .our-history-main { padding: 130px 0 50px; }
       /*================ Aboutus ==================*/

       /*================ executive-team ==================*/
       .team-details-main { padding: 50px 0 30px; }
       .team-details-block .section-title { margin-bottom: 18px; }
       .team-contact-details { margin-bottom: 18px; }
       .who-we-are-main-2 { padding: 120px 0 60px; }
       /*================ executive-team ==================*/

      /* ==========> footer <========== */
      .quick-link-block .f-title{font-size: 18px;}
      .quick-link ul li{font-size: 12px;}
      .f-logo{width: 94px;}
      .f-bootom{flex-direction: column; row-gap: 20px;}
      .footer .f-contet { padding: 30px 0; }
      .f-top .f-block { margin-bottom: 30px; }
      .f-bootom .f-left ul{flex-direction: column; row-gap: 5px;}
      .f-bootom .f-left ul li{padding-right: 0;}
      .f-bootom .f-left ul li::before{display: none;}
      /* ==========> footer <========== */
}

/*---------- Small Mobile , IPhone Start ----------*/
/*=== Screen Size = 240, 320, 360, 480, 568 ===*/
@media (min-width: 576px) and (max-width: 767px) {}

@media (min-width: 429px) and (max-width: 575px) {}

@media (min-width: 240px) and (max-width: 575px) {

      .section-title{font-size: 24px;}
      .main-title{font-size: 28px; letter-spacing: -1.2px;}
      
       /* ==========> brands-main-section <========== */
       .brands-main-wrap>*{flex: 0 0 auto; width: 50%;}
       .brands-main-wrap{row-gap: 20px;}
       /* ==========> brands-main-section <========== */

      /* ==========> footer <========== */
      .f-top .f-block{text-align: center;}
      .f-logo{margin: 0 auto;}
      /* ==========> footer <========== */
}

@media (max-width: 380px) {}
