@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* CSS Document */


/*---------- Google Fonts ----------*/
body {
  font-family: "Open Sans", serif;
  font-weight: 400;
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  line-height: 150%;
  color: #fff;
}

figure {
  margin: 0;
}

strong,
b {
  font-weight: 700 !important;
}

a,
input,
button,
textarea {
  outline: none !important;
}

a {
  text-decoration: none;
  color: #000000;
  transition: all ease-in-out 300ms;
  -webkit-transition: all ease-in-out 300ms;
  -ms-transition: all ease-in-out 300ms;
  -o-transition: all ease-in-out 300ms;
  -moz-transition: all ease-in-out 300ms;
}

a:hover {
  color: #000000;
}

p {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  margin-bottom: 20px;
}

ol,
ul {
  margin-bottom: 20px;
  padding-left: 20px;
}

ol ol,
ol ul,
ul ol,
ul {
  margin-top: 10px;
  margin-bottom: 10px;
}

ol li,
ul li {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

ol li::marker,
ul li::marker {
  color: #000000;
}

.container-fluid,
.container {
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.row>* {
  padding-left: 15px;
  padding-right: 15px;
}

.alignnone {
  float: none;
  margin: 20px;
}

.alignleft {
  float: left;
  margin: 20px 20px 20px 0;
}

.alignright {
  float: right;
  margin: 20px 0 20px 20px;
}

.aligncenter {
  float: none;
  display: block;
  margin: 20px auto;
}

blockquote {
  padding-left: 30px;
  border-left: 5px solid #000000;
  margin-bottom: 20px;
}

blockquote * {
  font-size: 150%;
  line-height: 180%;
}

.paragraph-medium {
  font-size: 18px;
  line-height: 133%;
}

.paragraph-large {
  font-size: 24px;
  line-height: 138%;
}

h1 {
  font-family: "Open Sans", serif;
  font-weight: 400;
  font-size: 56px;
  line-height: normal;
  color: #fff;
  margin-bottom: 40px;
}

h2 {
  font-family: "Open Sans", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: normal;
  color: #fff;
  margin-bottom: 20px;
}

h3 {
  font-family: "Open Sans", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: normal;
  color: #fff;
  margin-bottom: 20px;
}

h4 {
  font-family: "Open Sans", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: normal;
  color: #fff;
  margin-bottom: 25px;
}

h5 {
  font-family: "Open Sans", serif;
  font-weight: 400;
  font-size: 33px;
  line-height: normal;
  color: #fff;
  margin-bottom: 20px;
}

h6 {
  font-family: "Open Sans", serif;
  font-weight: 700;
  font-size: 28px;
  line-height: normal;
  color: #fff;
  margin-bottom: 20px;
}

.weight-400 {
  font-weight: 400 !important;
}

.weight-500 {
  font-weight: 500 !important;
}

.weight-600 {
  font-weight: 600 !important;
}

.weight-700 {
  font-weight: 700 !important;
}



/* main-title */
.main-title {
  font-weight: 700;
  font-size: clamp(2.125rem, 1.8rem + 1.625vw, 3.75rem);
  line-height: 116.667%;
  text-transform: uppercase;
  color: #fff;
}

.main-title * {
  text-decoration: none;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  text-transform: inherit;
  color: inherit;
  letter-spacing: inherit;
  margin-top: 0;
  margin-bottom: 0;
}

.main-title a:hover {
  color: #000000;
}

/* main-title */

/* section-title */
.section-title {
  font-weight: 700;
  font-size: clamp(2.125rem, 1.8rem + 1.625vw, 3.75rem);
  line-height: 116.667%;
  color: #fff;
  text-transform: uppercase;
}

.section-title * {
  text-decoration: none;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  text-transform: inherit;
  color: inherit;
  letter-spacing: inherit;
  margin-top: 0;
  margin-bottom: 0;
}

.section-title a:hover {
  color: #000000;
}

/* section-title */


.btn {
  font-weight: 600;
  font-size: clamp(1rem, 0.975rem + 0.125vw, 1.125rem);
  line-height: 100%;
  color: #fff;
  padding: 21px;
  display: inline-flex;
  align-items: center;
  box-shadow: none;
  position: relative;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  transition: 0.5s ease-in all;
  -webkit-transition: 0.5s ease-in all;
  -moz-transition: 0.5s ease-in all;
  -ms-transition: 0.5s ease-in all;
  -o-transition: 0.5s ease-in all;
}

.btn span{
  position: absolute;
  display: block;
}

.btn-white span{
  background: #fff;
}

.btn-green span{
  background: #1c7857;
}

.btn span:first-child{
  bottom: 0;
  left: 0;
  width: 1px;
  height: 100%;
  transition: 0.5s ease-in all;
  -webkit-transition: 0.5s ease-in all;
  -moz-transition: 0.5s ease-in all;
  -ms-transition: 0.5s ease-in all;
  -o-transition: 0.5s ease-in all;
}

.btn span:last-child{
  bottom: 0;
  right: 0;
  width: 1px;
  height: 100%;
  transition: 0.5s ease-in all;
  -webkit-transition: 0.5s ease-in all;
  -moz-transition: 0.5s ease-in all;
  -ms-transition: 0.5s ease-in all;
  -o-transition: 0.5s ease-in all;
}

.btn span:nth-child(2){
  top: 0;
  right: 0;
  width: 100%;
  height: 1px;
  transition: 0.5s ease-in all;
  -webkit-transition: 0.5s ease-in all;
  -moz-transition: 0.5s ease-in all;
  -ms-transition: 0.5s ease-in all;
  -o-transition: 0.5s ease-in all;
}

.btn span:nth-child(3){
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1px;
  transition: 0.5s ease-in all;
  -webkit-transition: 0.5s ease-in all;
  -moz-transition: 0.5s ease-in all;
  -ms-transition: 0.5s ease-in all;
  -o-transition: 0.5s ease-in all;
}


.btn-white{
  color: #fff;
  background: transparent;
}

.btn-green{
  color: #fff;
  background: #1c7857;
  border-color: #1c7857;
}

.btn:hover{
  border-color: transparent;
}

.btn:hover span:nth-child(2){
  width: 10%;
}

.btn span:nth-child(3){
  width: 100%;
  left: 0;
}

.btn:hover span:nth-child(3){
  width: 10%;
  left: 0;
}

.btn-white:focus{
  border: transparent;
}

.btn-white:focus:active{
  border: transparent;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active{
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}

.btn:hover span:last-child{
  height: 50%;
  top: 0;
}
.btn:hover span:first-child{
  bottom: 0;
  height: 50%;
}

@keyframes move1-reverse {
  0%{
    height: 50%;
    bottom: -1px;
  }
  54%{
    height: 0;
    bottom: 100%;
  }
  55% {
    height: 0;
    bottom: 100%;
  }
  100% {
    height: 100%;
    bottom: 0;
  }
}

@keyframes move2-reverse {
  0%{
    width: 10%;
    left: 90%;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 0;
  }
}

@keyframes move3-reverse {
  0%{
    width: 10%;
    left: 90%;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 0;
  }
}

.fix-853{
  max-width: 853px;
}

.fix-1300{
  max-width: 1300px;
}



/*==================================================================*/
/*========== Header Start ==========*/
/*==================================================================*/
.navbar-toggler {
  padding: 0px;
  border: none;
}

.content{
  overflow: hidden;
}

.header{
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden;
  opacity: 1;
  transition: 0.3s ease-in all;
  left: 0;
  z-index: 99;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  -webkit-transition: 0.3s ease-in all;
  -moz-transition: 0.3s ease-in all;
  -ms-transition: 0.3s ease-in all;
  -o-transition: 0.3s ease-in all;
}

.header.active .navbar{
  padding: 10px 0;
}

.header.active .nav-link.active::after{
  bottom: -31px;
}

.header .navbar-toggler:focus {
  box-shadow: none;
}

.header .navbar-brand {
  padding: 0px;
  margin: 0px;
  display: inline-block;
  position: relative;
  z-index: 99999;
  width: 226px;
}

.header .navbar {
  padding: 35px 0px 39px;
  transition: 0.3s ease-in all;
  -webkit-transition: 0.3s ease-in all;
  -moz-transition: 0.3s ease-in all;
  -ms-transition: 0.3s ease-in all;
  -o-transition: 0.3s ease-in all;
}

.navbar-brand * {
  width: 100%;
  height: 100%;
}

.header:not(.active) .navbar-brand svg path{
  fill: #fff;
}

.navbar-toggler {
  width: 35px;
  height: 35px;
  padding: 0;
  box-shadow: none !important;
  border: none;
  border-radius: 5px;
  position: relative;
  z-index: 99999;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.navbar-toggler .hamburger {
  width: 18px;
  height: 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.navbar-toggler .hamburger-toggle {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.navbar-toggler .hamburger span {
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: relative;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}


.navbar-toggler:not(.collapsed) .hamburger span{
  background: #2397D4;
}

.navbar-toggler .hamburger span:first-child {
  top: 7px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.navbar-toggler .hamburger span:nth-child(2) {
  opacity: 0;
}

.navbar-toggler .hamburger span:last-child {
  margin: 0;
  top: -7px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.navbar-toggler.collapsed .hamburger span {
  opacity: 1 !important;
  top: auto !important;
  transform: none !important;
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
}

.header .navbar-nav {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.header .navbar-nav::before{
  content: "";
  height: 133px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.15);
  position: absolute;
  top: 0;
  left: 298px;
}
.header .navbar-nav::after{
  content: "";
  height: 133px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.15);
  position: absolute;
  top: 0;
  right: 212px;
}

.navbar-expand-lg .navbar-nav .nav-link{
  padding: 0;
}

.header .navbar-nav .nav-item {
  margin-right: 60px;
}

.header .navbar-nav .nav-item:last-child {
  margin-right: 0;
}

.header .nav-link {
  font-size: 20px;
  line-height: 100%;
  font-weight: 400;
  color: #fff;
  padding: 0px;
  position: relative;
}

.header .nav-link:hover{
  color: #2397D4;
}

.header .nav-link.active{
  color: #2397D4 !important;
}

.header .nav-link.active::after{
  content: "";
  display: inline-block;
  height: 3px;
  width: 80%;
  background: #2397D4;
  bottom: -59px;
  position: absolute;
  transition: 0.3s ease-in all;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transition: 0.3s ease-in all;
  -moz-transition: 0.3s ease-in all;
  -ms-transition: 0.3s ease-in all;
  -o-transition: 0.3s ease-in all;
}

.header.active{
  filter: blur(5);
  background: rgba(0, 0, 0, 0.5);
  -webkit-filter: blur(5);
}




.header .nav-link:active{
  color: #2397D4;
}

.header .nav-link:focus{
  color: #2397D4;
}

.header .btn-contain .btn{
  font-size: clamp(1rem, 0.975rem + 0.125vw, 1.125rem);
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0.9px;
  padding: 20px 38px;
}

/* ---- particles.js container ---- */


/*==================================================================*/
/*========== Header End ==========*/
/*==================================================================*/

/*==================================================================*/
/*========== New Class Add Start ==========*/
/*==================================================================*/
/* banner */

.content-wrapper{
  padding: 310px 0 0px;
}


/* banner */

.brands-main-section{
  padding: 80px 0;
}

.brands-main-wrap{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.brands-main-wrap>*{
  width: 25%;
  padding: 0 15px;
  flex: 1 1 0;
}

.brands-blocks .brands-img{
  padding: 10px 20px;
  max-width: 200px;
}

.h-content{
  position: relative;
  z-index: 99;
}


.banner-section .banner-details{
  position: relative;
  z-index: 9;
}

.trading-main-wrap{
  position: relative;
  z-index: 9;
  max-width: 1600px;
}

.banner-details  .main-title{
  margin-bottom: 30px;
}

.banner-details .pointer-arrow{
  margin: 50px 0;
}


/* ==========> trading-main-section <========== */
.trading-main-img-block{
  display: flex;
  align-items: center;
}

.content-wrapper{
  position: relative;
}


.trading-main-img-block .left-img{
  height: 417px;

}

.trading-main-img-block .trading-img.left::after{
  content: "";
  display: inline-block;
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 341 294' fill='none'%3E%3Cpath d='M339.105 293.75V244.708V231.197L338.105 100.084L167.552 2L1 100.084V293.75' stroke='url(%23paint0_linear_2_1573)' stroke-width='2'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_2_1573' x1='145.045' y1='-119.604' x2='145.045' y2='507.934' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232397D4' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%232397D4'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
  background-repeat: no-repeat;
  width: 341px;
  height: 294px;
  right: -4px;
  top: -8px;
}


.trading-main-img-block .trading-img.right::after{
  content: "";
  display: inline-block;
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 338 294' fill='none'%3E%3Cpath d='M336.71 0.249804V49.2919V62.8034L335.709 193.916L168.157 292L1.60547 193.916V0.249804' stroke='url(%23paint0_linear_2_1576)' stroke-width='2'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_2_1576' x1='145.65' y1='413.604' x2='145.65' y2='-213.934' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232397D4' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%232397D4'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
  background-repeat: no-repeat;
  width: 341px;
  height: 294px;
  right: -4px;
  bottom: -5px;
}

.trading-main-img-block  .trading-img{
  height: 387px;
  position: relative;
}

.trading-main-img-block  .trading-img.right{
  margin-top: 197px;
  margin-left: 4px;
}

.trading-main-img-block  .trading-img *{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.trading-main-img-block .large-img *{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.trading-main-img-block .right-img{
  height: 238px;
}

.trading-main-img-block .right-img *{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.trading-main-wrap .row{
  margin: 0 -42px;
}

.trading-main-wrap .row>*{
  padding: 0 42px;
}

.trading-details .details{
  margin-bottom: 39px;
}

.trading-main-section{
  padding: 100px 0 50px;
}

.trading-main-block  .trading-details .section-title{
  margin-bottom: 30px;
}

.trading-main-wrap .trading-main-block{
  margin-bottom: 100px;
}

.trading-main-img-block{
  max-width: 673px;
  margin: 0 auto;
}

/* ==========> trading-main-section <========== */

/*================ Aboutus ==================*/
.common-banner-contain{
  position: relative;
}

.common-banner-contain .common-banner-img{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.common-banner-contain .common-banner-img *{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.commmon-banner-details{
  position: relative;
  z-index: 1;
  padding: 293px 0 50px;
}

.common-banner-contain.banner-2 .commmon-banner-details{
  padding: 293px 0 207px;
}

.common-banner-contain.banner-2 .commmon-banner-details .main-title{
  color: #2397D4;
}

.commmon-banner-details .commmon-banner-wrap{
  max-width: 1604px;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}

.commmon-banner-details .main-title{
  margin-bottom: 30px;
}

.commmon-banner-details .detail{
  margin-bottom: 40px;
}



.content-img{
  margin-bottom: -480px;
  position: relative;
  z-index: 1;
}

.common-banner-contain::before{
  content: "";
  display: inline-block;
  top: 0;
  bottom: 0;
  position: absolute;
  background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.00) 70.3%);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.our-history-main{
  padding: 625px 0 110px;
  position: relative;
}

.our-history-main .our-history-bg{
    position: absolute;
    top: 0;
    bottom: 0;
}

.our-history-main .our-history-bg *{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.our-history-main .team-details-wrap{
  max-width: 1320px;
  margin: 0 auto;
}

.team-details-block .details{
  color: #757575;
}

.team-details-block .section-title{
  color: #293F81;
}

.team-details-wrap .row>*{
  position: relative;
}

.team-details-wrap .row{
  row-gap: 121px;
}

.team-details-wrap .row>*::after{
  content: "";
  display: inline-block;
  width: 1px;
  position: absolute;
  right: 96px;
  top: 50%;
  transform: translateY(-50%);
  height: 310px;
  background: rgba(41, 63, 129, 0.2);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.team-details-wrap .row>*:nth-child(2n):after{
  display: none;
}

.our-history-main .our-values-wrap{
  max-width: 1335px;
  margin: 0 auto;
  padding-top: 150px;
}

.our-values-detail .section-title{
  color: #293F81;
  margin-bottom: 30px;
}

.our-values-detail .details{
  color: #757575;
}

.our-values-detail ul li{
  color: #C61137;
  font-weight: 600;
  margin-bottom: 20px;
}

.our-values-detail ul li *{
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}

.our-values-wrap .our-values-block{
  margin-bottom: 40px;
}

.our-values-detail ol li::marker, ul li::marker{
  color: #C61137 !important;
}

/*================ Aboutus ==================*/


/*================ executive-team ==================*/

.executive-team{
  padding: 100px 0 150px;
}

.team-details-block .team-details ul{
    padding: 0 0 0 10px;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(198, 17, 55, 0.2);
    border-radius: 5px;
    max-width: 224px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.team-details-block .team-details{
  margin-top: 25px;
}

.team-details-block .team-details ul li{
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: #C61137;

}

.team-details-block .team-details ul li *{
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

.team-details-block .team-details ul li:last-child{
  border-left: 1px solid rgba(198, 17, 55, 0.2);
}

.team-details-block .team-details ul li a{
  display: inline-block;
}

.team-details-block .team-details ul li a:hover{
  color: #293F81;
}

.team-details-block .team-details ul li a.social-icon{
    padding: 12px 10px 11px 10px;
}

/*================ executive-team ==================*/

/*================ careers-page ==================*/
.careers-form-wrap{
  max-width: 1266px;
  margin: 0 auto;
}

.careers-main{
  padding: 100px 0 128px;
}

.form-group .form-label{
  font-weight: 600;
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  line-height: 170%;
  color: #293F81;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.form-group  .form-control{
  padding: 13px 30px;
  border-radius: 5px;
  border: 1px solid rgba(117, 117, 117, 0.30);
  background-color: #FFF;
  font-size: clamp(0.875rem, 0.825rem + 0.25vw, 1.125rem);
  color: #757575;
  line-height: 188.88%;
}

.form-group  .form-control:focus{
  outline: none;
  box-shadow: none;
}

input[type="file"] {
  text-indent: -9999px;
}

.careers-form-wrap .form-group .common-filed{
  position: relative;
  z-index: 1;
}

.careers-form-wrap .form-group .common-filed::after{
  content: "";
  display: inline-block;
  width: 56px;
  height: 2px;
  background: #2397D4;
  position: absolute;
  bottom: 0;
  left: 30px;
}

.form-group .form-btn{
  margin-top: 36px;
}

.form-btn{
  padding: 21px 53px;
  border: 1px solid;
  border-color: #2397D4;
  color: #2397D4;
  background-color: transparent;
  font-size: clamp(0.875rem, 0.825rem + 0.25vw, 1.125rem);
  line-height: 100%;
  letter-spacing: 0.9px;
  transition: 0.3s ease-in all;
  text-align: center;
  -webkit-transition: 0.3s ease-in all;
  -moz-transition: 0.3s ease-in all;
  -ms-transition: 0.3s ease-in all;
  -o-transition: 0.3s ease-in all;
}

.form-btn:hover{
  color: #293F81;
  border-color: #293F81;
}

.careers-form-wrap form .row{
  margin: 0 -25px;
}

.careers-form-wrap form .row>*{
  padding: 0 25px;
}

textarea
{
   resize: none;
}

.form-group textarea{
  height: 164px;
}

.careers-form-wrap .form-group input[type="file"]::after{
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 27 27' fill='none'%3E%3Cpath d='M25.773 14.7266C25.4475 14.7266 25.1353 14.8559 24.9052 15.086C24.675 15.3162 24.5457 15.6284 24.5457 15.9538V21.1244C24.5447 22.0313 24.184 22.9007 23.5428 23.5419C22.9015 24.1832 22.0321 24.5439 21.1253 24.5448H5.87501C4.96815 24.5439 4.09872 24.1832 3.45747 23.5419C2.81622 22.9007 2.45554 22.0313 2.45457 21.1244V15.9538C2.45457 15.6284 2.32527 15.3162 2.09511 15.086C1.86495 14.8559 1.55278 14.7266 1.22728 14.7266C0.901789 14.7266 0.589624 14.8559 0.359463 15.086C0.129303 15.3162 0 15.6284 0 15.9538V21.1244C0.00162442 22.682 0.621119 24.1754 1.72255 25.2769C2.82397 26.3783 4.31736 26.9978 5.87501 26.9994H21.1253C22.6829 26.9978 24.1763 26.3783 25.2777 25.2769C26.3791 24.1754 26.9986 22.682 27.0003 21.1244V15.9538C27.0003 15.6284 26.871 15.3162 26.6408 15.086C26.4106 14.8559 26.0985 14.7266 25.773 14.7266Z' fill='%232397D4'/%3E%3Cpath d='M7.00372 9.45842L12.2725 4.18969V19.6363C12.2725 19.9618 12.4018 20.274 12.6319 20.5041C12.8621 20.7343 13.1742 20.8636 13.4997 20.8636C13.8252 20.8636 14.1374 20.7343 14.3676 20.5041C14.5977 20.274 14.727 19.9618 14.727 19.6363V4.18969L19.9958 9.45842C20.2272 9.68198 20.5372 9.80569 20.859 9.80289C21.1808 9.80009 21.4886 9.67102 21.7162 9.44347C21.9437 9.21592 22.0728 8.9081 22.0756 8.58632C22.0784 8.26452 21.9547 7.95451 21.7311 7.72304L14.3674 0.359332C14.1373 0.129252 13.8252 0 13.4997 0C13.1743 0 12.8622 0.129252 12.6321 0.359332L5.26834 7.72304C5.04478 7.95451 4.92108 8.26452 4.92387 8.58632C4.92667 8.9081 5.05574 9.21592 5.28329 9.44347C5.51084 9.67102 5.81866 9.80009 6.14045 9.80289C6.46224 9.80569 6.77225 9.68198 7.00372 9.45842Z' fill='%232397D4'/%3E%3C/svg%3E");
  width: 27px;
  height: 27px;
  display: inline-block;
  position: absolute;
  right: 30px;
  background-repeat: no-repeat;
  top: 17px;
}

.common-filed.number-filed::before{
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 24' fill='none'%3E%3Cpath d='M8 24L0 13L16 13L8 24Z' fill='%232397D4'/%3E%3Cpath d='M8 0L0 11L16 11L8 0Z' fill='%232397D4'/%3E%3C/svg%3E");
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 30px;
  right: 30px;
  background-repeat: no-repeat;
  top: 17px;
  z-index: 1;
}

.common-filed {
    position: relative;
}

.number-filed input[type="number"] {
    -moz-appearance: textfield; /* Remove default spinner in Firefox */
}

.number-filed input::-webkit-outer-spin-button,
.number-filed input::-webkit-inner-spin-button {
    -webkit-appearance: none; /* Remove default spinner in Chrome */
    margin: 0;
}

.file-upload-text{
  position: absolute;
  top: 20%;
  color: #757575;
  font-size: clamp(0.875rem, 0.825rem + 0.25vw, 1.125rem);
  font-weight: 400;
  line-height: 188%;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.form-select{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='11' viewBox='0 0 16 11' fill='none'%3E%3Cpath d='M8 11L0 0L16 0L8 11Z' fill='%232397D4'/%3E%3C/svg%3E"); 
}

.form-group  .form-select{
  font-size: clamp(0.875rem, 0.825rem + 0.25vw, 1.125rem);
  line-height: 188.88%;
  color: #757575;
}

.careers-form-wrap .row{
  row-gap: 50px;
}

.common-banner-contain.banner-3 .commmon-banner-details{
  padding: 293px 0 77px;
}

.executive-team .team-details-wrap{
  max-width: 1373px;
  margin: 0 auto;
}

.common-banner-contain.banner-4  .commmon-banner-details .main-title{
  margin-bottom: 60px;
}

.common-banner-contain.banner-4 .commmon-banner-details{
    padding: 293px 0 180px;
}

.careers-contact-block .careers-contact-details .left-detail .details *:last-child{
  margin-bottom: 0;
}

.careers-contact-details .right-details .details a:hover{
  color: #C61137;
}

/*================ careers-page ==================*/


/*================ contact-page ==================*/
.careers-main.contact-page{
  padding: 415px 0 128px;
}

.contact-details-wrap{
  padding: 40px 27px 40px 90px;
  border-radius: 10px;
  border: 1px solid rgba(117, 117, 117, 0.30);
  background: #FFF;
  margin-bottom: 60px;
  max-width: 1604px;
  margin-right: auto;
  margin-left: auto;
}

.contact-details-wrap .row>*{
  position: relative;
}

.contact-details-wrap .row>*::after{
  content: "";
  display: inline-block;
  height: 100%;
  width: 1px;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.contact-details-wrap .row>*:last-child::after{
  display: none;
}

.contact-details-block ul li:last-child{
  margin-bottom: 0;
}

.contact-details-block .left-content{margin-right: 15px;}

.contact-details-title *{
  
  border-bottom: 1px solid rgba(198, 17, 55, 0.2);
}

.contact-details-block ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

.contact-details-title{
  font-weight: 600;
  font-size: 25px;
  line-height: 100%;
  color: #C61137;
}

.contact-details-title *{
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}

.contact-details-block ul li{
  color: #757575;
  margin-bottom: 35px;
}

.contact-details-block ul li span{
  border-bottom: 1px solid rgba(198, 17, 55, 0.2);
  display: inline-block;
  margin-right: 22px;
}

.contact-details-block{
  display: flex;
}

.contact-details-block .right-content .detail{
  color: #757575;
  margin-left: 25px;
}

.contact-details-block ul li a{
  color: inherit;
}

.contact-details-block ul li a:hover{
  color: #C61137;
}

/*================ contact-page ==================*/


/*==================================================================*/
/*========== New Class Add End ==========*/
/*==================================================================*/
/*==================================================================*/
/*========== Footer Start ==========*/
/*==================================================================*/
.footer{
  position: relative;
  z-index: 1; 
  overflow: hidden;
}

.footer .f-top{
  padding: 93px 0 60px;
  overflow: hidden;
}

.footer .f-content{
  max-width: 1317px;
  margin: 0 auto;
}

.f-block.f-logo-block{
  position: relative;
}

.f-top .f-block{
  margin-bottom: 25px;
}

.f-logo-block .f-logo{
  width: 226px;
  margin-top: 38px;
  margin-bottom: 40px;
  position: relative;
}

.f-block.f-logo-block::after{
  content: "";
  display: inline-block;
  width: 1px;
  height: calc(100% + 5000px);
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: -500px;
  right: 0;
}

.f-logo-block .f-logo *{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#particles-js2 {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-color: #000000;
  top: 0;
  left: 0;
  z-index: 0;
}

.f-block.f-quick-link{
  margin-left: 48px;
}

.footer  ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

.f-title{
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: inline-block;
  margin-bottom: 15px;
}

.f-title *{
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin-bottom: 0;
}

.f-block.f-quick-link .quick-link ul li *{
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  transition: 0.3s ease-in all;
  -webkit-transition: 0.3s ease-in all;
  -moz-transition: 0.3s ease-in all;
  -ms-transition: 0.3s ease-in all;
  -o-transition: 0.3s ease-in all;
}

.f-block.f-quick-link .quick-link ul li{
  margin-bottom: 30px;
}

.f-block.f-quick-link .quick-link ul li:last-child{
  margin-bottom: 0;
}

.f-block.f-quick-link .quick-link ul li a.active{
  font-weight: 600;
  color: #2397D4;
}

.f-block.f-quick-link .quick-link ul li a:hover{
  color: #2397D4;
}


.footer .f-bottom .f-content{
  padding: 20px 0 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.social-icon ul li a{
  width: 45px;
  height: 45px;
  border: 1px solid rgba(217, 217, 217, 0.3);
  border-radius: 5px;
  display:flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transition: 0.3s ease-in all;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transition: 0.3s ease-in all;
  -moz-transition: 0.3s ease-in all;
  -ms-transition: 0.3s ease-in all;
  -o-transition: 0.3s ease-in all;
}

.social-icon ul li a *{
  color: #2397D4;
  transition: 0.3s ease-in all;
  -webkit-transition: 0.3s ease-in all;
  -moz-transition: 0.3s ease-in all;
  -ms-transition: 0.3s ease-in all;
  -o-transition: 0.3s ease-in all;
}


.social-icon ul li a:hover *{
  color: #fff;
}

.footer .f-bottom .f-left ul li{
  text-transform: uppercase;
}


.f-bottom .f-content{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

/*==================================================================*/
/*========== Footer End ==========*/
/*==================================================================*/
